body{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #cdeeee;
}

#buttonDiv{
    border-style:groove;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; /* Añade esta propiedad para centrar verticalmente */
}

.img-container{
    width: 100%; /* Ancho del contenedor */
    /*height: 200px;   Alto del contenedor */
    position: relative; /* Necesario para posicionamiento */
    overflow: hidden; /* Oculta el desbordamiento */
}

.img-container img {
    width: 100%; /* Asegura que la imagen cubra el ancho */
    height: 100%; /* Asegura que la imagen cubra el alto */
    object-fit: cover;  /* Cubre completamente el contenedor */
}

#hero {
    margin-top: 120px;
    margin-bottom: 20px;
}

.button:hover{
    background-color: #ed8380;
    color: #faebd7;
}

.button{
    margin-left: 10px;
    background-color: #d92127;
    color: #faebd7;
    border-radius: 7px;    
    border: 0px solid #d92127;
}

#divContainer{
    margin: 10px;
    padding: 10px;
    background-color: #2e9c9d;
    border-radius: 20px;    
    text-align: center;
}

table{
    border-radius: 20px;
}

#dataContainer{
    background-color: white;
    border-radius: 20px;
    margin: 0%;    
}

thead{
    border-radius: 15px;
    background-color: #f5f5dc;
}

th, td {
    border: 0px solid #d92127;
    padding: 5px;
    text-align: left;
}

#btn-asmet{
    background-color: #2e9c9d;
    color: white;
}

#btn-asmet:hover{
    background-color: #cdeeee;
    color: black;
}

#btn-actualizar{
    background-color: #2e9c9d;
    color: white;
}

#btn-actualizar:hover{
    background-color: #cdeeee;
    color: black;
}

#btn-editar{
    background-color: #2e9c9d;
    color: white;
}

#btn-editar:hover{
    background-color: #cdeeee;
    color: black;
}

#btn-cerrar:hover{
    background-color: #ed8380;
    color: white;
}

#nav{
    background-color: #2e9c9d;
    border-radius: 20px;
}

